---
---

@import '_grid.scss';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black|Judson&display=swap');

html {
	background-color: $neutral;
}

body {
	background-color: #f9ebe1;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 32 10'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23b38d83' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	height:100%;
	margin:0;
	font-family: 'Judson', serif;
}

p, span {
	font-family: 'Judson', serif;
	font-size:16.5px;
	color: $green;
}

p {
	line-height:1.3;

	a {
		color: $green;
		text-decoration:underline;

		&:hover {
			color: $green;
			opacity:.5;
		}
	}
}

h1, h2 {
	color: $green;
	font-family: 'Archivo Black', sans-serif;
	font-size:2.2rem;
}

h1 {
	margin-bottom:40px;
	font-size:28px;

	@media (min-width: $screen-sm) {
		font-size:2.7vw;
	}

	span {
		font-family: 'Judson', serif;
    	font-size: 122%;
	}
}

h2 {
	font-size:24px;

	@media (min-width: $screen-sm) {
		font-size:2.2vw;
	}
}

.text-sm {
	text-transform:uppercase;
	color: $neutral;
	font-family:'Archivo', sans-serif;
	font-weight:bold;
	font-size:14px;
}

.container-row {
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	@media (min-width: $screen-sm) {
		flex-wrap: nowrap;

		height:100vh;
	}

}

.main-content {
	background: $tan;
	border-radius:30px 0 0 0;
	border-left:3px solid $neutral;
	border-top:3px solid $neutral;
	// overflow:hidden;
    padding:0;

    margin-left:-3px;
    width:103%;

    @media (min-width: $screen-sm) {
		margin-left:0;
		width:auto;
		overflow:auto;
		overflow-x:hidden;

		margin-top:-3px;
    }
}

.main-content-inner {
	padding: 40px 20px;
	padding-top:30px;
	border-radius:30px 0 0 0;

	border-top: 3px solid $neutral;
    margin-top: -3px;

	@media (min-width: $screen-sm) {
		padding: 40px 45px;
		min-height:103vh;
		border-top:0;
		margin-top:0;
		border-radius:0;
	}

	> .row {
		margin:-10px;
		// flex-wrap: nowrap;
	}
}

.main-sidebar {
	padding:0;
	padding-bottom:30px;

	@media (min-width: $screen-sm) {
		width:240px;
		max-width:240px;
		min-width:240px;
	}

	@media (min-width: 1100px) {
		width:300px;
		max-width:300px;
		min-width:300px;
	}

	.img-wrapper {
		padding: 30px 20px;
		padding-top:40px;

		@media (min-width: $screen-sm) {
			padding: 50px 30px;
			padding-bottom:40px;
		}
	}

	img {
		max-width:100%;
		height:auto;
	}

	@media (min-width: $screen-sm) {
		overflow-y:auto;
	}
}

footer {
  	border:3px solid $neutral;
  	border-radius:30px 30px 0 0;
  	overflow:hidden;
  	margin-bottom:-3px;
  	margin-left: -3px;
    margin-right: -3px;

    > .container {
    	padding:20px;

    	@media (min-width: $screen-sm) {
    		padding:20px 50px;
    	}
    }
}

.list-group {
	overflow: hidden;
}

.list-group-item {
	background:transparent;
	border:none;
	color: $green;
	font-family: 'Archivo Black', sans-serif;
	font-size:20px;
	padding:0px 20px;
	transition:.4s;
	cursor:pointer;

	@media (min-width: $screen-sm) {
		padding:1px 30px;
	}

	&.active {
		background:transparent;
		color: $green;

		&:after {
			position:absolute;
			content:'';
			top:0;
			left:0;
			height:100%;
			width:5px;
			background: $neutral;

			@media (min-width: $screen-sm) {
				
				width:100%;
				height:3px;
				left:auto;
				top:50%;
				margin-left:15px;
			}
		}
	}

	&:hover {
		opacity:.5;
		color:$green;
		text-decoration:none;

		&.active {
			opacity:1;
		}
	}
}

.gap {
	@extend .col-sm-6;
	@extend .col-lg-4;
}

article {
	@extend .col-md-6;
	@extend .col-lg-4;
	border:3px solid $neutral;
	border-radius:20px;
	padding:0;
	margin:10px;
	overflow:hidden;
	z-index:0;
	position:relative;


	@media (min-width: 580px) {
		flex: 1 0 31%;
		
	}

	@media (min-width: $screen-sm) {
		flex: 1 0 30%;
	}

	@media (min-width: $screen-sm) and (max-width: 991px) {
		flex: 1 0 40%;
	}

	@media (min-width: $screen-md) {
		max-width: 31.2%;
	}

	a {
		font-family:'Archivo', sans-serif;
		font-weight:bold;
		letter-spacing: .10em;
		font-size:17px;
		text-transform:uppercase;
		color: $green;
		border-top:3px solid $neutral;
		display:block;
		padding:3px 20px;
		z-index:1;
		position:relative;
		// transition:.2s;

		&:after  {
			content:'\219D';
			position:absolute;
			right:15px;
			top:13px;
			bottom:0;
			font-size:34px;
			line-height:0;
			opacity:0;
			transition:.3s opacity;
		}

		&:hover {
			&:after{
				opacity:1;
			}
		}
	}

	.article-inner {
		padding:20px;
		// padding-bottom:10px;
		// height: 87%;
		display:flex;
		flex-direction:column;

		height: 100%;
	    margin-bottom: -34px;
	    padding-bottom: 44px;
	}
	span {
		@extend .text-sm;
		margin-top:auto;
	}

	.favicon {
		position:absolute;
		right:0;
		padding:6px 10px;
		border:3px solid $neutral;
		border-radius:0 20px 0 20px;
		margin:-3px;
	}

	h2 {
		padding-right:20px;
	}

	&:after {
		content:'';
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 32 10'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23b38d83' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		opacity:0;
		transition:.2s opacity;
		z-index:-1;
	}

	a {
		// background:transparent;
		// transition: .3s background;
	}

	&:hover {
		&:after {
			opacity:1;
		}

		a {
			background: $green;
			color:$tan;
			border-color: $green;
			text-decoration:none;
			position:relative;

			&:after {
				// visibility:hidden;
				//trying to remove artifact
			}
		}
	}
}

.grid {
	overflow:hidden;
	align-content: flex-start;
    justify-content: space-between;
}

.sidebarCollapse {
	color: $green;
	font-family: 'Archivo Black', sans-serif;
	font-size:20px;
	padding:2px 20px;
	transition:.4s;
	cursor:pointer;
	position:relative;

	@media (min-width: $screen-sm) {
		padding:2px 30px;
	}

	&:hover {
		opacity:.5;
		color:$green;
		text-decoration:none;

		&.active {
			opacity:1;
		}
	}

	@media (min-width: $screen-sm) {
		display:none;
	}

	&.collapsed {
		&:after {
			position:absolute;
			padding-left:10px;
			top:0;
			content:'\002B';
		}
	}

	&:after {
		position:absolute;
		padding-left:10px;
		top:0;
		content:'\2212';
	}
}

#sidebar-cats {
	&.collapse {
		@media (min-width: $screen-sm) {
			display: block;
		    height: auto !important;
		    visibility: visible;
		}
	}
}

.main-content-inner.subpage {
	h1 {
		font-size:3.5vw;
		position:relative;

		&:after {
			position:absolute;
			content:'';
		
			background: $neutral;
				
			width:100%;
			height:3px;
			top:50%;
			margin-left:15px;
		}
	}

	img {
		opacity:0.7;
		border-radius: 0px 20px;
	}

	> .row {
		align-items: flex-start;
	}

	.col {
		margin-bottom:30px;
	}

	p {
		font-size:18px;
	}

	h2 {
		margin-top:30px;
	}

	&.subpage--submit h2{
		margin-top:0;
	}
}


.img-responsive {
	max-width:100%;
	height:auto;
}

.nav {
	padding: 10px 20px;

	@media (min-width: $screen-sm) {
		padding:10px 30px;
		padding-top:20px;
	}
}

.nav-item {
	font-family:'Archivo';
	font-size:18px;
	color: $green;

	a {
		color: $green;
		padding:0;
		padding-right: 15px;
    	margin-left: -5px;
	}

	&:first-child {
		overflow:hidden;

		a {
			margin-left:0;
		}
	}

	list-style: disc;
	padding-right:10px;
}

.list-group-item--back {
	position:relative;
	padding-left:60px;

	&:before  {
		content:'\219C';
		position:absolute;
		left:30px;
		padding-right:20px;
		top:13px;
		bottom:0;
		font-size:34px;
		line-height:0;
	}
}




.main-content {
	perspective: 8px;
  	perspective-origin: 0%;
}


.parallax {
	position:absolute;
	transform-origin: 0 50%;
	transform: translateZ(3px) scale(0.625);
	z-index: 0;
	

	&.bg-ele-1 {
	  top:6%;
	  left:1%;	
	}

	&.bg-ele-2 {
		top:12%;
		left:40%;
	}

	&.bg-ele-3 {
		top:60%;
		left:-3%;
	}

	&.bg-ele-4 {
		top:80%;
		left:30%;
	}

	&.bg-ele-5 {
		top:120%;
		left:20%;
	}

	&.bg-ele-1--about {
		top:45%;
		left:25%;
		transform: translateZ(3px) scale(0.625) rotate(-40deg);
	}

	&.bg-ele-1--submit {
		top:5%;
		left:65%;
		transform: translateZ(3px) scaleX(-1) scale(0.625);
	}
}

footer span {
	@extend .text-sm;
}

footer p {
	@media (min-width: 960px) {
		padding-top:15px;
	}
}

footer .col-auto {
	text-align:center;
}

.updated-date {
	font-family: 'Archivo Black';
	color: $green;
	font-size:16px;
	display:block;
}

.subpage form {
	border:3px solid $neutral;
	border-radius:30px;
	padding-bottom:0;
}

.subpage form {
	overflow:hidden;
	margin-top:30px;
	margin-bottom:30px;

	select, input, textarea {
		display:block;
		width:100%;
		font-family: 'Judson', serif;
		background: $tan;
		border:none;
		padding:10px 0;
		color: $green;

		&:focus {
			outline:none;
		}
	}

	option:hover,
	option:focus,
	option:active,
	option:checked {
	  background: linear-gradient(#97A69A, #97A69A);
	}

	p {
		padding: 15px 30px;
		padding-top:20px;
		margin:0;
		border-bottom:3px solid $neutral;
	}

	.submit-btn-wrapper {
		border-bottom:0;
		padding:0;
		margin:0;
	}

	label {
		width:100%;
		margin-bottom:0;
		font-family: 'Archivo Black', sans-serif;
	}

	button {
		background: $green;
		font-family: 'Archivo', sans-serif;
	    font-weight: bold;
	    letter-spacing: .10em;
	    font-size: 17px;
	    text-transform: uppercase;
	    color:$tan;
	    width:100%;
	    padding:15px 30px;
	    -webkit-appearance:none;
	    border:0;
	}

}

// .nav {
// 	min-height: 90px;
// }

.social-share {
	border-top:3px solid $neutral;
	border-bottom:3px solid $neutral;
	border-radius:0;
	padding-left:20px;

    a {
    	color: $green;
    	padding-left:15px;
    	padding-right:15px;

    	&:hover {
			text-decoration:none;
    	}
    }
}
