<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Find and support your new favorite wearable ethical brand">
<meta name="keywords" content="eco clothing, sustainable fashion, fair trade, organic, vegan, recycled, social good, eco brands, ethical directory">
<meta property="og:image" content="img/share-img.jpg"/>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style.css" />

<title>We Wear Eco - Sustainable Clothing & Accessories Directory</title>
</head>