<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="mixitup.min.js"></script>
<script src="https://kit.fontawesome.com/493f144393.js" crossorigin="anonymous"></script>

 <script>
  $( document ).ready(function() {

    $('.main-content').on('scroll', function() {
        var st = $(this).scrollTop();
        $('h1').css({
            'opacity' : 1 - st/100
        });
    });

    //mobile fade out
    $(window).scroll(function() {
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if (scrollTop < 50) {
                $('h1').fadeIn('slow');
          }
          else {
                $('h1').fadeOut('slow');
          }
    });


    $(function(){
      $('body').on('click', '.list-group-item', function(){
        $('.list-group-item').removeClass('active');
        $(this).closest('.list-group-item').addClass('active');
      });
    });

        var containerEl = document.querySelector('.grid');

        var mixer = mixitup(containerEl, {
            animation: {
                animateResizeTargets: true
            },
            selectors: {
                control: '.list-group-item'
            },
            load: {
                sort: 'random'
            }
        });

    });
</script>