<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
  

    <!-- Page Content -->
    <div class="container-fluid">

      <div class="row container-row">

        <div class="col-md main-sidebar">

          <div class="img-wrapper">
            <img src="img/weweareco.png" width="212" alt="We Wear Eco">
          </div>

          <div class="list-group">
             <a href="/" class="list-group-item list-group-item--back">Back</a>
          </div>  

          {% include nav.html %}
            
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-md main-content">
          <div class="main-content-inner subpage">
           <h1>About <span>the site</span></h1>

           <div class="row">

             <div class="parallax bg-ele-1 bg-ele-1--about">
               <img src="img/leaf.png" width="150">
             </div>

            <div class="col-sm-6">
              <img src="img/about1.jpg" class="img-responsive">

              <h2>Why <i>We Wear Eco?</i></h2>
              <p>
              We Wear Eco was created to celebrate sustainable fashion brands and to provide listings for online shopping in one place.
              </p>

              <p>As an environmentally passionate person and avid thrifter, I realized I wasn't able to easily find eco-friendly options for new clothing and other wearables. I wanted to make it simplier to shop for and support the brands with various eco ethos on the forefront, from smaller handmade brands to larger multifaceated companies taking a stand against fast fashion.
              </p>

              <p>If there is a brand you feel would fit in well with this directory - or one you own yourself - please <a href="/submit">submit it here</a>.</p>
            </div>
            <div class="col-sm-6">
              <img src="img/about2.jpg" class="img-responsive">
            </div>


           </div>
   
        </div>

        {% include footer.html %}

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include scripts.html %}

  </body>
</html>