<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
  

    <!-- Page Content -->
    <div class="container-fluid">

      <div class="row container-row">

        <div class="col-md main-sidebar">

          <div class="img-wrapper">
            <img src="img/weweareco.png" width="212" alt="We Wear Eco">
          </div>

          <div class="list-group">

              
              <a class="sidebarCollapse collapsed" href="#sidebar-cats" data-toggle="collapse" aria-expanded="true" aria-controls="sidebar-cats" data-filter="all">Filter</a>

              <div class="collapse" id="sidebar-cats">

                <a href="#" class="list-group-item active" data-filter="all">All Brands</a>
                {% assign menuItems = site.data.tagMenu.menuItems %}
                {% for item in menuItems %}
                  {% assign itemTitle = item.menuItem %}
                  {% assign tagObject = site.tags | where:"title", itemTitle %}
                  {% if tagObject != empty  %}
                  <a href="#" class="list-group-item" data-filter="{{ itemTitle | slugify | prepend: '.filter-' }}">{{ itemTitle }}</a>
                  {% endif %}
                {% endfor %}

              </div>
              

              {% include nav.html %}
            

          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-md main-content">
          <div class="main-content-inner">
           <h1><span>We Wear Eco</span> is a directory of eco & sustainable clothing and accessory brands.</h1>

           <div class="parallax bg-ele-1">
             <img src="img/leaf.png" width="150">
           </div>

           <div class="parallax bg-ele-2">
             <img src="img/shirt.png" width="300">
           </div>

           <div class="parallax bg-ele-3">
             <img src="img/cotton.png" width="200">
           </div>

           <div class="parallax bg-ele-4">
             <img src="img/sun.png" width="250">
           </div>

           <div class="parallax bg-ele-5">
             <img src="img/tag.png" width="206">
           </div>

           <div class="row grid">

             {% for brand in site.brands %}
                <article class="mix {% for tagTitle in brand.tags %} {{ tagTitle | slugify | prepend: 'filter-' }}{% endfor %}">
                  <div class="favicon">
                    {% assign iconUrl = "https://www.google.com/s2/favicons?domain=https://" | append: brand.link %}
                    
                    {% unless brand.icon == empty or brand.icon == nil  %}
                      {% assign iconUrl = brand.icon %}
                    {% endunless %}

                    <img src="{{ iconUrl }}">
                  </div>
                  <div class="article-inner">
                    <h2>{{ brand.title }}</h2>
                    {{ brand.content | markdownify }}
                    <span class="tags">
                      {% for tagTitle in brand.tags %}
                        {% assign tagObject = site.tags | where:"title", tagTitle %}
                        {% if tagObject != empty  %}

                          {% assign tag = tagTitle | slugify | remove: '-' %}
                          
                          {% if tagObject.first.tag %}
                            {% assign tag = tagObject.first.tag %}
                          {% endif %}

                          #{{ tag }}

                      {% endif %}
                      {% endfor %}
                    </span>
                  </div>

                  <a target="_blank" href="//{{ brand.link }}">Visit site</a>

                </article>
            {% endfor %}

             <div class="gap"></div>
             <div class="gap"></div>


           </div>

        </div>

        	{% include footer.html %}

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include scripts.html %}

  </body>
</html>