<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
  

    <!-- Page Content -->
    <div class="container-fluid">

      <div class="row container-row">

        <div class="col-md main-sidebar">

          <div class="img-wrapper">
            <img src="img/weweareco.png" width="212" alt="We Wear Eco">
          </div>

          <div class="list-group">
             <a href="/" class="list-group-item list-group-item--back">Back</a>
          </div>  

          {% include nav.html %}
            
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-md main-content">
          <div class="main-content-inner subpage subpage--submit">
           <h1>Submit <span>a sustainable brand</span></h1>

           <div class="row">

           <div class="parallax bg-ele-1 bg-ele-1--submit">
              <img src="img/leaf.png" width="300">
            </div>

            <div class="col-sm-9">   
              <h2>Fill out the form to submit your company or leave a suggestion.</h2>
              <p>
              Please note that each brand featured must be largely sustainable, fitting into one or more eco standard for the environment, people, and animals.
              </p>

              <form name="submit" action="https://formspree.io/mlewqedj" method="POST" data-netlify="true">
                <p>
                  <label>Are you the owner or leaving a suggestion? <select name="role[]" size="2">
                    <option value="owner">I'm the owner</option>
                    <option value="suggestion">I'm leaving a suggestion</option>
                  </select></label>
                </p>
                <p>
                  <label>Name of Brand: <input type="text" name="name" /></label>
                </p>
                <p>
                  <label>Your Email: <input type="email" name="email" /></label>
                </p>
                <p>
                  <label>Why are they awesome? <textarea name="message"></textarea></label>
                </p>
                <p class="submit-btn-wrapper">
                  <button type="submit">Send</button>
                </p>
              </form>

            </div>
           </div>
  
        </div>

        {% include footer.html %}

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include scripts.html %}

  </body>
</html>